html {
    background-color: white;
    font-size: 10px;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    margin: 0;
    margin: 0;
}

.publisherList {
    overflow: auto;

    text-align: center;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

.publisher {
    background-color: rgb(218, 212, 212);
    border: 1px solid black;
    font-size: 2rem;
    
    block-size: 10vh;
    inline-size: 10vw;
    margin: 50px auto;
}

/*Button for new Element*/

button {
    background-color: rgb(76, 76, 223);
    font-weight: bold;
    padding: 1rem;
    border-radius: 5%;
    
    display: block;
    margin: 0 auto;
    position: sticky;
    bottom: 5%;
}
