html {
    background-color: white;
    font-size: 10px;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    margin: 0;
    margin: 0;
}

/*Button for new Element*/

button {
    background-color: rgb(76, 76, 223);
    font-weight: bold;
    padding: 1rem;
    border-radius: 5%;
    
    display: block;
    margin: 0 auto;
    position: sticky;
    bottom: 5%;
}

/*Author*/
.author {
    background-color: rgb(218, 212, 212);
    border: 1px solid black;
    font-size: 2rem;
    overflow: auto;
    inline-size: 90%;
    margin: 3vh auto;
    padding: 10px;

    max-height: 30vh;
}

.author li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.portrait {
    width: 15%;
    height: auto;
    overflow: hidden;

    margin: auto 10px;
    position: relative;
}

.portrait img {
    max-block-size: 20vh;
    max-inline-size: 20vh;

    display: block;
    margin: 10px auto;
}

.portrait:after {
    text-align: center;
    display: inline-block;

    content: '';
    position: absolute;
    bottom: 10%;
    height: 80%;
    right: 0;
    border-inline-end: 1px solid whitesmoke;
}

.authorInfo {
    width: 15%;
    height: 100%;

    text-align: center;

    margin: auto;

    border-right: 1px solid whitesmoke;
}


.bookAdn {
    width: 15%;

    font-style: italic;
    text-align: center;

    border-right: 1px solid whitesmoke;
}

.author li:last-child {
    width: 50%;
}

.booksFlex {
    width: 100%;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-self: auto;
    align-items: center;
}

.authorBooks {
    margin-inline: 5vh;

    flex: auto;
}   

.authorBooks img {
    max-block-size: 15vh;
    max-inline-size: 15vh;

    display: block;
    align-self: center;
    margin: auto;
}


.authorBooks p {
    font-style: italic;
    padding-top: 5px;
    margin: 0;

    text-align: center;
}