html {
    background-color: white;
    font-size: 10px;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    margin: 0;
    margin: 0;
}

/*Button for new Element*/

.addAuthor {
    font-size: 2rem;
    background-color: rgb(76, 76, 223);
    min-block-size: 4rem;
    block-size: auto;
    inline-size: 14rem;

    display: block;
    margin: 0 auto;
    position: sticky;
    bottom: 5%;
}

.addAuthor a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    inline-size: 100%;
    block-size: 100%;
}

.addAuthor a:focus {
    background-color: rgb(52, 52, 212);
}

.addAuthor a:hover {
    background-color: rgb(36, 36, 172);
}

.addAuthor a:active {
    background-color: rgb(1, 1, 107);
}

/*Author*/
.author {
    background-color: rgb(218, 212, 212);
    border: 1px solid black;
    font-size: 2rem;
    overflow: auto;
    inline-size: 90%;
    margin: 3vh auto;
    padding: 10px;

    max-height: 30vh;
}

.author li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.portrait {
    width: 18%;
    height: auto;
    overflow: hidden;

    margin: auto 10px;
    position: relative;
}

.portrait img {
    max-block-size: 20vh;
    inline-size: auto;

    display: block;
    margin: 10px auto;
}

.portrait:after {
    text-align: center;
    display: inline-block;

    content: '';
    position: absolute;
    bottom: 10%;
    height: 80%;
    right: 0;
    border-inline-end: 1px solid whitesmoke;
}

.authorInfo {
    width: 13.5%;
    height: 100%;

    text-align: center;

    margin: auto;

    border-right: 1px solid whitesmoke;
}


.bookAdn {
    width: 13.5%;

    font-style: italic;
    text-align: center;

    border-right: 1px solid whitesmoke;
}

.author li:last-child {
    width: 50%;
}

.booksFlex {
    width: 100%;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-self: auto;
    align-items: center;
}

.authorBooks {
    margin-inline: 5vh;

    flex: auto;
}   

.authorBooks img {
    max-block-size: 15vh;
    max-inline-size: 15vh;

    display: block;
    align-self: center;
    margin: auto;
}


.authorBooks p {
    font-style: italic;
    padding-top: 5px;
    margin: 0;

    text-align: center;
}

/*Form*/

.portraitPreview {
    width: 300px;
    min-height: 300px;

    border: 1px solid gray;
    margin-top: 10px;

    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: gray;

    background-image: url("../img/noPortrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.portraitPreview__portrait {
    display: none;
    width: 100%;
}