html {
    background-color: white;
    font-size: 10px;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    margin: 0;
    margin: 0;
}


/*Head*/

header {
    text-align: center;
    text-justify: auto;
    color: black;
    text-shadow: -2px 0 5px rgb(255, 255, 255);
    block-size: 20vh;
    line-height: 50%;
    font-size: 2rem;

    border-block-start: 0.1px solid black; /*Must be, doesnt work without*/

    background-color: rebeccapurple;
    background-image: url("../img/Head2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header > h1 {
    font-size: 4rem;
    padding-block-start: 5vh;
}

/*Navigation Menu*/
nav {
    background-color: rgb(76, 76, 223);
    color: white;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    margin: 0;
    border-collapse: collapse;
    position: relative;
    padding: 8px;
}

nav > ul > li::before {
    content: '';
    position: absolute;
    bottom: 15%;
    height: 70%;
    right: -5%;
    border-inline-end: 1px solid whitesmoke;
}

/*Button for new Element*/

div {
    margin: auto;
    text-align: center;
}

div > button {
    background-color: rgb(76, 76, 223);
    font-weight: bold;
    padding: 1rem;
    border-radius: 5%;
}

/*Not side wide*/

/*Book*/

.book {
    background-color: rgb(218, 212, 212);
    border: 1px solid black;
    font-size: 2rem;
    overflow: auto;
    inline-size: 85%;
    text-align: center;
    margin-block: 3vh;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    justify-content: center;
}

.cover {
    margin: 1vh 1vw;
    border-collapse: collapse;
    padding: 0.5rem;
    position: relative;
}

.cover:after {
    content: '';
    position: absolute;
    bottom: 15%;
    height: 70%;
    right: -15px;
    border-inline-end: 1px solid whitesmoke;
}

.cover img {
    max-block-size: 20vh;
    max-inline-size: 20vh;
    flex: 1;
}

.bookInfo {
    flex: 1;
    text-align: center;
    vertical-align: center;
    margin-inline: 5%;
    inline-size: 10vw;

    margin: auto auto;
    border-collapse: collapse;
    padding: 0.5rem;
    position: relative;
}

#titleOrDescr {
    font-style: italic;
}

.bookInfo::after {
    content: '';
    position: absolute;
    bottom: 15%;
    height: 70%;
    right: -15px;
    border-inline-end: 1px solid whitesmoke;
}

.bookDesc {
    margin-inline: 5vh;
    flex: 2;
    min-height: 100%;
    text-align: center;
}

/*Author*/

/*Publisher*/