html {
    background-color: white;
    font-size: 10px;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    margin: 0;
    margin: 0;
}

/*Button for new Element*/

.addBook {
    font-size: 2rem;
    background-color: rgb(76, 76, 223);
    min-block-size: 4rem;
    block-size: auto;
    inline-size: 14rem;

    display: block;
    margin: 0 auto;
    position: sticky;
    bottom: 5%;
}

.addBook a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    inline-size: 100%;
    block-size: 100%;
}

.addBook a:focus {
    background-color: rgb(52, 52, 212);
}

.addBook a:hover {
    background-color: rgb(36, 36, 172);
}

.addBook a:active {
    background-color: rgb(1, 1, 107);
}

/*Not side wide*/

/*Book*/

.book {
    background-color: rgb(218, 212, 212);
    border: 1px solid black;
    font-size: 2rem;
    overflow: auto;
    inline-size: 90%;
    text-align: center;
    margin: 3vh auto;
    padding: 10px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    justify-content: center;
}

.cover {
    margin: 1vh 1vw;
    border-collapse: collapse;
    padding: 0.5rem;
    position: relative;
}

.cover:after {
    content: '';
    position: absolute;
    bottom: 15%;
    height: 70%;
    right: -15px;
    border-inline-end: 1px solid whitesmoke;
}

.cover img {
    max-block-size: 20vh;
    max-inline-size: 20vh;
    flex: 1;
}

.bookInfo {
    flex: 1;
    text-align: center;
    vertical-align: center;
    margin-inline: 5%;
    inline-size: 10vw;

    margin: auto auto;
    border-collapse: collapse;
    padding: 0.5rem;
    position: relative;
}

#titleOrDescr {
    font-style: italic;
}

.bookInfo::after {
    content: '';
    position: absolute;
    bottom: 15%;
    height: 70%;
    right: -15px;
    border-inline-end: 1px solid whitesmoke;
}

.bookDesc {
    margin-inline: 5vh;
    flex: 2;
    min-height: 100%;
    text-align: center;
}

/*Form*/

.coverPreview {
    width: 200px;
    min-height: 300px;

    border: 1px solid gray;
    margin-top: 10px;

    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: gray;

    background-image: url("../img/NoCover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.coverPreview__cover {
    display: none;
    width: 100%;
}