<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link href="../static/css/styleAuthor.css" th:href="@{/css/styleAuthor.css}" rel="stylesheet">
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Book Administration Page</h1>
        <h3>See all the necessary information about your favorite Book!</h3>
    </header>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/books/catalog">Books</a></li>
            <li><a href="/authors/list">Authors</a></li>
            <li><a href="/publishers/list">Publishers</a></li>
        </ul>
    </nav>

    <tr th:each="authorWithBooks: ${authors}" >
        <ul class="author">
                <li class="portrait">
                    <td><img th:src="@{'/authors/portrait/' + ${authorWithBooks.key.id}}"></td>
                </li>

                <li class="authorInfo">
                        <p>
                            <td th:text="${authorWithBooks.key.firstName} + ' ' + ${authorWithBooks.key.lastName}"></td>
                        </p>
        
                        <p>
                            Born:<td th:text="${#temporals.format(authorWithBooks.key.dateOfBirth, 'dd.MM.yyyy')}"></td>
                        </p>

                        <p>
                            Primary Genre:<td th:text="${authorWithBooks.key.primaryGenre}"></td>
                        </p>
                </li>

                <li class="bookAdn">
                    <p>
                        Books written <br> by this author:
                    </p>
                </li>

                <li>
                    <div class="booksFlex">
                        <table>
                            <tr th:each="book: ${authorWithBooks.value}">
                                <div class="authorBooks">
                                    <img th:src="@{'/books/cover/' + ${book.id}}">
                                
                                    <p th:text="${book.title}"></p>
                                </div>
                            </tr>
                        </table>
                    </div>
                </li>
        </ul>
    </tr>

    <button type="button"><a href="/authors/new">Add Author</a></button>
</body>
</html>