<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link href="../static/css/styleAuthor.css" th:href="@{/css/styleAuthor.css}" rel="stylesheet">
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="head :: header"></div>

    <tr th:each="authorWithBooks: ${authors}" >
        <ul class="author">
                <li class="portrait">
                    <td><img th:src="@{'/authors/portrait/' + ${authorWithBooks.key.id}}"></td>
                </li>

                <li class="authorInfo">
                        <p>
                            <td th:text="${authorWithBooks.key.firstName} + ' ' + ${authorWithBooks.key.lastName}"></td>
                        </p>
        
                        <p>
                            Born: <td th:text="${#temporals.format(authorWithBooks.key.dateOfBirth, 'dd.MM.yyyy')}"></td>
                        </p>

                        <p>
                            Primary Genre: <td th:text="${authorWithBooks.key.primaryGenre}"></td>
                        </p>
                </li>

                <li class="bookAdn">
                    <p>
                        Books written <br> by this author:
                    </p>
                </li>

                <li>
                    <div class="booksFlex">
                        <table>
                            <tr th:each="book: ${authorWithBooks.value}">
                                <div class="authorBooks">
                                    <img th:src="@{'/books/cover/' + ${book.id}}">
                                
                                    <p th:text="${book.title}"></p>
                                </div>
                            </tr>

                            <div th:if="${authorWithBooks.value!=null and authorWithBooks.value.empty}" id="noBooks">No books of this Author have been added yet!</div>
                        </table>
                    </div>
                </li>

                <li>
                    <div class="buttons">
                        <p class="button">
                            <a href="#" class="detailsButton"></a>
                        </p>
        
                        <p class="button">
                            <a href="#" class="editButton"></a>
                        </p>
        
                        <p class="button">
                            <a href="#" class="deleteButton"></a>
                        </p>
                    </div>
                </li>
        </ul>
    </tr>

    <a href="/authors/new/false" class="addAuthor">Add New Author</a>
</body>
</html>