<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Info Page</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
    <link href="../static/css/styleBook.css" th:href="@{/css/styleBook.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="head :: header"></div>

    <div class="bookData" th:object="${book}">
        <h1>Book Information</h1>

        <div class="dataGrid">
            <div class="bookInfoData">

                <div>
                    <p th:text="${book.title}"></p>
                    <p th:text="${book.subTitle}"></p>
                </div>

                <div>
                    <strong>Author</strong>
                    <p th:text="${book.author.firstName} + ' ' + ${book.author.lastName}"></p>
                </div>

                <div>
                    <strong>Publishing</strong>
                    <p th:text="'In ' + ${book.publishingYear}"></p>
                    <p th:text="'By ' + ${book.publisher.name}"></p>
                </div>
            </div>

            <div class="coverData">
                <img th:src="@{'/books/cover/' + ${book.id}}">
            </div>

            <div class="descriptionData">
                <p>
                    <strong>Description</strong>
                </p>

                <p th:text="${book.description}"></p>
            </div>
          </div>

        <p class="createButton buttonData">
            <a href="/books/catalog"><span>Back</span></a>
        </p>
    </div>
</body>
</html>