<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
    <link href="../static/css/styleBook.css" th:href="@{/css/styleBook.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="head :: header"></div>

    <div th:class="${Exception} ? errorList">
        <p th:if="${Exception}" th:text="${exceptionMessage}" class="error">Exception</p>
    </div>

    <tr th:each="book: ${books}" >
        <div class="book">
            <div class="cover"><td><img th:src="@{'/books/cover/' + ${book.id}}"></td></div>

            <div class="bookInfo">
                <p>
                    <p class="titleOrDescr">
                        <td th:text="${book.title}"></td>
                    </p>
                    
                    <p class="titleOrDescr">
                        <td th:text="${book.subTitle}"></td>
                    </p>
                </p>

                <br>

                <p>
                    <strong>By: </strong>
                    <td th:text="${book.author.firstName} + ' ' + ${book.author.lastName}"></td>
                </p>

                <p>
                    <strong>Published: </strong>
                    in <td th:text="${book.publishingYear}"></td>, by <td th:text="${book.publisher.name}"></td>
                </p>
            </div>

            <div class="bookDesc">
                <p>
                    <span id="titleOrDescr">Description</span>
                </p>
                
                <p>
                    <td th:text="${book.description}" class="bookDescText"></td>
                    <div th:if="${book.description!=null and book.description.empty}" class="noBooks">No description was added to this book!</div>
                </p>
            </div>

            <div class="buttons">
                <p class="button">
                    <a th:href="@{/books/info/{id}(id=${book.id})}" class="detailsButton"></a>
                </p>

                <p class="button">
                    <a th:href="@{/books/edit/{id}(id=${book.id})}" class="editButton"></a>
                </p>

                <p class="button">
                    <form action="#" th:action="@{/books/delete/{id}(id=${book.id})}" th:method="post" class="buttonForm" th:id="'deleteEntityButton' + ${book.id}">
                        <a class="deleteButton" th:id="${book.id}" th:onclick="'SubmitDeleteButton(\'' + ${book.id} + '\')'"></a>
                    </form>
                </p>
            </div>
        </div>
    </tr>
    

    <a href="/books/new" class="addBook">Add New Book</a>

    <script type="text/javascript" src="../static/js/makeLinkSubmit.js" th:src="@{/js/makeLinkSubmit.js}"></script>    
</body>
</html>