<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page of the Libary</title>
    <link href="../static/img/siteIcon.ico" th:href="@{/img/siteIcon.ico}" rel="Shortcut icon" type="image/x-icon">
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div th:replace="head :: header"></div>

    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}" method="POST" class="loginForm">
            <h1>Login</h1>

            <div th:if="${param.error}" class="errorList">    
                <span class="error">Invalid username and password.</span>
            </div>

            <div th:class="${param.logout} ? 'errorList logOut'">
                <span th:if="${param.logout}">Logged out Sucessfully!</span>
            </div>

            <p class="username">
                <i class="fa fa-user"></i>
                <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Enter Username">
            </p>
    
            <p class="passworsd">
                <i class="fa fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Enter Password">
            </p>
    
            <p class="createButton" id="logInButton">
                <button type="Submit">Log In</button>
            </p>

            <a href="/registration" id="registationLink">No account? Register now!</a>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()" id="welcomeMessage">
        <p>
            You are already logged in! 
        </p>

        <span>Using the navigation menu, see what the app offers</span>
    </div>
</body>
</html>