<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new Book</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
    <link href="../static/css/styleBook.css" th:href="@{/css/styleBook.css}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Book Administration Page</h1>
        <h3>See all the necessary information about your favorite Book!</h3>
    </header>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/books/catalog">Books</a></li>
            <li><a href="/authors/list">Authors</a></li>
            <li><a href="/publishers/list">Publishers</a></li>
        </ul>
    </nav>

    
    <form action="#" th:action="@{/books/new/save}" th:object="${book}" method="POST" enctype="multipart/form-data">
        <h1>New Book</h1>
        <p>Required fields are preceded by <strong><abbr title="required">*</abbr></strong></p>

        <section>
            <p>
                <label for="title">
                    <span>Title: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" id="title" name="title" th:field="*{title}">
            </p>

            <p>
                <label for="subtitle">
                    <span>Subtitle: </span>
                </label>
                <input type="text" id="subtitle" name="subtitle" th:field="*{subTitle}">
            </p>

            <p>
                <label for="publishingYear">
                    <span>Publishing Year: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="number" name="publishingYear" id="publishingYear" min="1400" max="2021" step="1" th:field="*{publishingYear}">
            </p>

            <textarea cols="64" rows="16" th:field="*{description}"></textarea>

            <p>
                If the Author or Publisher of the Book isn't nn the list - create them using the adequite button at the botton of the screen
            </p>

            <p>
                <label for="author">
                    <span>Author: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input list="authors" id="authorChoice" name="authorChoice">
                <datalist id="authors">
                    <option th:each="author: ${authors}" th:data-value="${author.id}" th:value="${author.firstName} + ' ' + ${author.lastName}"></option>
                </datalist>
                <input type="hidden" name="authorChoice-hidden" id="authorChoice-hidden" th:field="*{author}">

                <label for="publisher">
                    <span>Publisher: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input list="publishers" id="publisherChoice" name="publisherChoice">
                <datalist id="publishers">
                    <option th:each="publisher: ${publishers}" th:data-value="${publisher.id}" th:value="${publisher.name}"></option>
                </datalist>
                <input type="hidden" name="publisherChoice-hidden" id="publisherChoice-hidden" th:field="*{publisher}">
            </p>

            <p>
                <button type="button"><a href="/authors/new/true">Add Author</a></button>
                <button type="button"><a href="/publishers/new/true">Add Publisher</a></button>
            </p>

            <p>
                <label for="cover">
                    <span>Cover: </span>
                </label>
                <input type="file" name="coverImg" id="coverImg" accept="image/*">
                <div class="coverPreview" id="coverPreview">
                    <img alt="Cover Preview" class="coverPreview__cover">
                </div>
            </p>
        </section>

        <p>
            <button type="submit" id="submit" name="submit">Create</button>
        </p>
    </form>

    <script type="text/javascript" src="../static/js/droplistShownDiffrentValue.js" th:src="@{/js/droplistShownDiffrentValue.js}"></script>
    <script type="text/javascript" src="../static/js/coverPreviewScript.js" th:src="@{/js/coverPreviewScript.js}"></script>       
</body>
</html>