<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Publisher</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Book Administration Page</h1>
        <h3>See all the necessary information about your favorite Book!</h3>
    </header>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/books/catalog">Books</a></li>
            <li><a href="/authors/list">Authors</a></li>
            <li><a href="/publishers/list">Publishers</a></li>
        </ul>
    </nav>

    <form action="#" th:action="@{/publishers/new/save}" th:object="${publisher}" method="POST">
        <h1>New Publisher</h1>
        <p>Required fields are preceded by <strong><abbr title="required">*</abbr></strong></p>

        <section>
            <p>
                <label for="name">
                    <span>Name: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" id="name" name="name" th:field="*{name}">
            </p>

            <p>
                <label for="city">
                    <span>City: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" id="city" name="city" th:field="*{city}">
            </p>
        </section>

        <p>
            <button type="submit" id="submit" name="submit">Create</button>
        </p>
    </form>
</body>
</html>