<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publisher List</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
    <link href="../static/css/stylePublisher.css" th:href="@{/css/stylePublisher.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="head :: header"></div>

    <div th:class="${Exception} ? errorList">
        <p th:if="${Exception}" th:text="${exceptionMessage}" class="error">Exception</p>
    </div>

    <div class="publisherList">
        <span class="publisher">
            <span>
                Name
            </span>

            <span>
                City
            </span>

            <span>
                Edit/Delete
            </span>
        </span>
        <tr th:each="publisher: ${publishers}" class="publisher">
            <div class="publisher">
                <span>
                    <td th:text="${publisher.name}"></td>
                </span>
                    
                <span>
                    <td th:text="${publisher.city}"></td>
                </span>

                <span>
                    <a th:href="@{/publishers/edit/{id}(id=${publisher.id})}" class="editButton"></a>

                    /
                    <form action="#" th:action="@{/publishers/delete/{id}(id=${publisher.id})}" th:method="post" class="buttonForm" th:id="'deleteEntityButton' + ${publisher.id}">
                        <a class="deleteButton" th:id="${publisher.id}" th:onclick="'SubmitDeleteButton(\'' + ${publisher.id} + '\')'"></a>
                    </form>
                </span>
            </div>
        </tr>
    </div>

    <a href="/publishers/new/false" class="addPublisher">Add New Publisher</a>

    <script type="text/javascript" src="../static/js/makeLinkSubmit.js" th:src="@{/js/makeLinkSubmit.js}"></script>     
</body>
</html>