<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publisher List</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
    <link href="../static/css/stylePublisher.css" th:href="@{/css/stylePublisher.css}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Book Administration Page</h1>
        <h3>See all the necessary information about your favorite Book!</h3>
    </header>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/books/catalog">Books</a></li>
            <li><a href="/authors/list">Authors</a></li>
            <li><a href="/publishers/list">Publishers</a></li>
        </ul>
    </nav>

    <div class="publisherList">
        <tr th:each="publisher: ${publishers}" class="publisher">
            <div class="publisher">
                    <p>
                        <td th:text="${publisher.name}"></td>
                    </p>
                    
                    <p>
                        <td th:text="${publisher.city}"></td>
                    </p>
            </div>
        </tr>
    </div>
</body>
</html>