<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Publisher</title>
    <link href="../static/css/styleHead.css" th:href="@{/css/styleHead.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="head :: header"></div>

    <form action="#" th:action="@{/publishers/new/save/} + ${whatSite}" th:object="${publisher}" method="POST" autocomplete="off">
        <h1>New Publisher</h1>
        <p>Required fields are preceded by <strong><abbr title="required">*</abbr></strong></p>

        <section>
            <p>
                <label for="name">
                    <span>Name: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" id="name" name="name" th:field="*{name}">
            </p>

            <p>
                <label for="city">
                    <span>City: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" id="city" name="city" th:field="*{city}">
            </p>
        </section>

        <p>
            <button type="submit" id="submit" name="submit">Create</button>
        </p>
    </form>
</body>
</html>